.slider-section img {
  width: 100vw;
  height: 50vh;
  aspect-ratio: "10/6";
  object-position: center;
  object-fit: cover;
}

.img-slider-btn {
  all: unset;
  display: block;
  position: absolute;
  bottom: 0vh;
  padding: 1rem;
  cursor: pointer;
}
.img-slider-btn * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}

.img-slider-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
}
